<h1>Tabla de Datos General</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">articulo</th>
      <th scope="col">fecha</th>
      <th scope="col">mov</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datoss of datos">
      <th scope="row">{{datoss.articulo}}</th>
      <td>{{datoss.fecha}}</td>
      <td>{{datoss.mov}}</td>
      <td>{{datoss.cantidad}}</td>
    </tr>
  </tbody>
</table>

<input type="date" (change) ="SendDataonChangeInicial($event)" />Fecha Inicial
<input type="date" (change) ="SendDataonChangeFinal($event)"/>FechaFinal


<hr>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">articulo</th>
      <th scope="col">ExistenciaInicial</th>
      <th scope="col">Entradas</th>
      <th scope="col">Salidas</th>
      <th scope="col">ExistenciaFinal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datoss of datosMenorFechaInicial">
      <th scope="row">1</th>
      <td>{{existInicial}}</td>
      <td>{{sumaMov1Entrada}}</td>
      <td>{{sumaMov2Salidas}}</td> 
      <td>{{existFinal}}</td>     
    </tr>
  </tbody>
</table>